<div class="vertical-center justify-content-center">
<div class="card bg-dark text-light mx-auto">
  <div class="card-header">
    <h2>react-pad</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <td><%= link_to "Signin", new_user_session_path %></td>
    <td><%= link_to "Signout", destroy_user_session_path, method: :delete  %></td>
  </div>
</div>
</div>