@import "bootstrap";
@import 'rails_bootstrap_forms';

@import "welcome";

* {
  font-family: Tahoma;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
.card {
  opacity: .9 !important;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
